@media only screen and (max-width: 1024px) and (min-width: 800px),
only screen and (max-device-width: 1024px) and (min-device-width: 800px) {
    .homelogo {
        width: 10rem;
        padding-top: 2rem;
    }
    .home {
        height: 100vh;
    }
    .innerflex h1 {
        font-size: 6rem;
        padding-top: 1.5rem;
    }
    .animate-text {
        font-size: 3rem;
    }
    .hm-btn {
        width: 35%;
    }
    .innerflex {
        margin-bottom: 3.5rem;
    }
    .row {
        flex-direction: row;
    }
    .sidebar {
        max-width: 90%;
        flex: 0 0 90%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: static;
    }
    .contact {
        width: 65%;
        margin: auto;
        text-align: left;
    }
    .navItem {
        margin-right: 2rem;
    }
    .card {
        width: 70%;
        margin-left: auto;
        font-size: 1.15rem;
    }
    .d-btn {
        margin: auto;
        width: 60%;
    }
    .innerbox {
        text-align: center;
    }
    .t2 {
        border-right: 4px solid #1b4948;
        width: 30%;
        margin: auto;
        padding-right: 1rem;
        margin-bottom: 1rem;
    }
    .content,
    .proj {
        width: 90%;
        flex: 0 0 90%;
        margin: auto;
    }
    .upAb {
        width: 100%;
    }
    .pad {
        padding: .5rem;
    }
    .pad p {
        font-weight: normal;
    }
    .crd {
        margin: .5rem;
        padding: .5rem;
        flex-basis: 20.5rem;
    }
}

@media only screen and(max-width:799px) and (min-width:400px),
only screen and (max-device-width: 799px) and (min-device-width: 400px) {
    body {
        max-width: 100vw;
    }
    .homelogo {
        width: 9rem;
    }
    .hm-flex {
        padding: 2rem;
    }
    .innerflex h1 {
        font-size: 4.6rem;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        letter-spacing: normal;
    }
    .home {
        /* height: 100vh; */
        width: 100vw;
    }
    .animate-text {
        font-size: 2.5rem;
    }
    .hm-btn {
        width: 70%;
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }
    .innerflex {
        margin-bottom: 3.5rem;
    }
    .row {
        flex-direction: row;
    }
    .hm-links {
        text-align: center;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    .row {
        flex-direction: row;
    }
    .hm-lnk-abt img {
        margin-top: 0;
    }
    .sidebar {
        max-width: 90%;
        flex: 0 0 90%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: static;
    }
    .content {
        width: 90%;
        flex: 0 0 90%;
        margin: auto;
    }
    .proj {
        width: 90%;
        margin: 0;
        margin-left: 1rem;
        position: relative;
        left: 0;
        margin-top: 2rem;
        /* padding: 1.875rem; */
    }
    .prjcrd {
        flex-basis: 90%;
        width: 80%;
        margin: auto;
        margin-bottom: 1.5rem;
        margin-top: .5rem;
        background-size: cover;
        /* background-blend-mode: hard-light; */
    }
    figcaption {
        padding-top: 15%;
        opacity: 1;
        background: hsla(179, 46%, 20%, 0.8);
    }
    .crd {
        margin: auto;
        margin-top: .5rem;
        margin-bottom: .5rem;
        flex-basis: 85%;
    }
}


/* @media only screen and (max-device-width: 480px) {
    .homelogo {
        width: 5rem;
    }
    .innerflex h1 {
        font-size: 4rem;
    }
}
@media (max-width:799px) and (min-width:400px)

@media only screen and (max-width: 800px),
only screen and (max-device-width: 800px) {
    .home {
        height: 100vh;
    }
    .homelogo {
        width: 10rem;
        padding-top: 2rem;
    }
    .innerflex h1 {
        font-size: 6rem;
        padding-bottom: 1rem;
    }
    .innerflex {
        margin-top: 2.5rem;
        margin-bottom: 3.5rem;
    }
    .animate-text {
        font-size: 2.5rem;
    }
    .hm-btn {
        width: 35%;
    }
} */