@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

body {
    background: #f4faf9;
    color: #1b4948;
}

.topSpace {
    padding-top: 4rem;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.box {
    background-color: #fff;
    position: relative;
    transition: box-shadow .3s ease-in-out;
    border-radius: 1.25rem;
}

.light {
    font-weight: 400;
}

.sidebar .avatar {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    transition: all .3s ease-in-out;
    display: block;
    margin-top: -4rem;
}

.avatar--180 {
    max-height: 180px;
    max-width: 180px;
    height: 180px;
    width: 180px;
}

svg {
    vertical-align: middle;
    border-radius: 30%;
}

.textSide {
    font-size: 1.5rem;
    text-align: center;
    font-variant: small-caps;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    flex: 0 0 25%;
    max-width: 25%;
    box-shadow: 6px 7px 26px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 7px 26px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 26px -10px rgba(0, 0, 0, 0.75);
    height: 60%;
    margin-top: 2rem;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
    position: -webkit-sticky;
    top: 8rem;
    z-index: 1;
}

.hamburger.is-active .line:nth-child(2) {
    opacity: 0;
    transform: rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hamburger.is-active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.badge {
    background: #2b7a78;
    width: 70%;
    margin: auto;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 1rem;
    font-size: .9rem;
    color: white;
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-variant: normal;
}

.social {
    margin-bottom: 1rem;
}

.social i {
    font-size: 1.2rem;
    padding: .3rem;
    color: #1b4948;
}

.innerbox {
    background: #ebf7f6;
    padding-bottom: 2rem;
    position: relative;
    z-index: 0;
    border-radius: 1.25rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

ul li {
    list-style-type: none;
}

.contact {
    padding-top: 2rem;
    font-weight: 200;
}

.card {
    width: 80%;
    margin-left: 2.5rem;
    font-variant: initial;
    margin-bottom: 1rem;
    font-size: 1rem;
    letter-spacing: .8px;
}

.card i {
    width: 1.5rem;
}

.btn {
    width: 60%;
    margin-left: 4rem;
    padding: .7rem;
    border: none;
    background: #2b7a78;
    color: whitesmoke;
    font-size: .8rem;
    border-radius: 20px;
    margin-top: 1rem;
    cursor: pointer;
    transition: font-size .2s, background .2s, width .2s;
}

.btn:hover {
    background: #1b4948;
    font-size: .85rem;
    width: 60.5%;
}

.btn i {
    color: whitesmoke;
}

.content,
.proj {
    width: 70%;
    box-shadow: 0px 40px 50px rgba(103, 118, 128, 0.1);
    margin-left: 3rem;
}

.proj {
    /* align-self: baseline; */
    left: 20rem;
    /* position: sticky; */
    margin-top: 2rem;
    /* position: sticky; */
    bottom: 1rem;
    /* align-self: flex-end; */
    /* position: -webkit-sticky; */
    /* top: 2rem; */
}

.hamburger .line {
    background-color: #fff;
    border-radius: 4px;
    display: block;
    margin: 5px 0;
    height: 3px;
    width: 24px;
    transition: all 0.2s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

.hamburger .line:nth-child(2) {
    margin-left: 4px;
    width: 20px;
}

.circle-menu {
    background: #2b7a78;
    border-radius: 50% 1.25rem 50% 50%;
    /* display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box; */
    display: flex;
    /* -webkit-align-items: center;
    -ms-flex-align: center; */
    align-items: center;
    justify-content: center;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    z-index: 2;
    /* position: sticky; */
}

.home {
    height: 100vh;
    background-color: rgba(42, 121, 118, 1);
    background-blend-mode: lighten;
    background-image: url(../img/TS_Website_Design_Trends_Sept18-1200x633.jpg);
    background-size: cover;
}

.home::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 73, 72, 0.541);
    z-index: 1;
}

.hm-flex {
    /* background-color: rgba(29, 66, 64, 0.253); */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    padding: 4rem;
    padding-top: 1rem;
}

.homelogo {
    width: 15rem;
}

.hm-links {
    text-align: center;
    margin-top: 1.5rem;
}

.hm-btn {
    background-color: rgba(27, 73, 72, 0.651);
    color: white;
    border: 1px solid rgb(27, 73, 72);
    border-radius: .3rem;
    width: 20%;
    margin: 0;
    margin-right: 1rem;
    z-index: 4;
}

.hm-btn i {
    color: white;
}

.hm-btn:hover {
    background-color: rgba(27, 73, 72, 0.452);
    width: 20%;
}

.hm-lnk-abt img {
    width: 5rem;
    margin-top: 3rem;
    border-radius: 50%;
    padding: 0;
    opacity: .5;
    transition: opacity .5s, width 1s;
}

.hm-lnk-abt img:hover {
    opacity: .9;
    width: 5.5rem
}

.innerflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.innerflex h1 {
    font-size: 10rem;
    font-weight: 400;
    stroke: rgb(27, 73, 72);
    letter-spacing: 7px;
}

.animate-text span {
    color: #1b4948;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279416px 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: none;
    width: 45%;
}

.animate-text span.text-in {
    display: inline-block;
    animation: textIn .5s ease;
}

.animate-text span.text-out {
    animation: textOut .5s ease;
}

@keyframes textIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes textOut {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-text {
    font-size: 4rem;
    font-weight: 400;
}

.hamburger {
    cursor: pointer;
}

.inner-menu {
    /* display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box; */
    display: flex;
    justify-content: flex-end;
    height: 3rem;
    padding-right: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    z-index: 1;
}

.nav a {
    color: white;
    text-decoration: none;
    transition: font-size .2s;
}

.nav a:hover {
    font-size: 1.2rem;
}

.nav {
    color: #fff;
    background: #2b7a78;
    border-radius: 2rem 0 0 2rem;
    box-shadow: 0 24px 40px rgba(48, 76, 253, 0.05), 0 8px 16px rgba(48, 76, 253, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    padding-left: 0;
    text-decoration: none;
    margin-bottom: 0;
    list-style: none;
    width: 0%;
    transition: width .5s;
}

.navItem {
    margin-right: 3rem;
    opacity: 0;
    transform: translateX(30px);
    transition: transform .5s;
}

.navReverse {
    width: 100%;
}

.navItemReverse {
    opacity: 1;
}

.title {
    font-size: 1.7rem;
    margin-bottom: .8rem;
}

.about a {
    color: #2b7a78;
    text-decoration: underline;
}

.about a:hover {
    font-weight: 500;
}

.line {
    background: #1b4948;
    height: 4px;
    width: 4rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}

p {
    margin-bottom: .8rem;
    /* letter-spacing: 1px; */
    font-weight: 400;
    font-size: 1rem;
}

.upAb,
.proj {
    padding: 1.875rem;
    padding-bottom: .5rem;
}

.pad {
    padding: 1.875rem;
    padding-top: 1rem;
}

.pad p {
    font-weight: 500;
    letter-spacing: normal;
}

.t2 {
    border-left: 4px solid #1b4948;
    padding-left: 1rem;
    border-radius: 6px;
}

.flexCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.crd {
    margin: .5rem;
    padding: 1rem;
    padding-bottom: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #1b4948;
    box-shadow: 0 24px 40px rgba(27, 73, 72, 0.2), 0 8px 16px rgba(27, 73, 72, 0.2);
    background-color: white;
    flex-basis: 24rem;
}

.flxprj {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.prjcrd {
    margin: .5rem;
    /* padding: .5rem; */
    margin-bottom: 1.5rem;
    flex-basis: 25rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    cursor: pointer;
    width: 25rem;
    height: 18.5rem;
    transition: background-color 0.5s ease;
    box-shadow: 0 24px 40px rgba(27, 73, 72, 0.2), 0 8px 16px rgba(27, 73, 72, 0.2);
}

.p1 {
    background-image: url('../img/4card.jpg');
}

.p2 {
    background-image: url('../img/base\ aparel.JPG');
}

.p3 {
    background-image: url('../img/pricing\ with\ togglr.jpg');
}

.p4 {
    background-image: url('../img/projtrack.jpg');
}

.p5 {
    background-image: url('../img/darsol.JPG');
}

.p6 {
    background-image: url('../img/apin.JPG');
}

figcaption {
    /* position: relative; */
    padding-top: 30%;
    background: hsla(179, 46%, 20%, 0.8);
    height: 100%;
    /* -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    color: #fff;
    transition: ease .5s;
    opacity: 0;
}

figcaption:hover {
    opacity: 1;
}

figcaption h4 {
    font-variant: small-caps;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    transform: translateY(-60%);
    transition: ease .6s;
}

figcaption p {
    transform: translateY(100%);
    transition: ease .6s;
}

figcaption:hover h4 {
    transform: translateY(20%);
}

figcaption:hover p {
    transform: translateY(20%);
}


/* .transt {
    height: 80%;
    width: 100%;
    transition: ease 1s;
    background-color: red;
    transform: translateY(-40%);
    padding-top: 20%;
}

.transt:hover {
    transform: translateY(5%);
} */

.crd i {
    font-size: 2rem;
    margin-right: .3rem;
    font-weight: 500;
    float: left;
}

.card-img {
    /* width: 70px; */
    width: 4rem;
    float: left;
    margin-right: .3rem;
}

.card-title {
    font-size: 1.25rem;
    vertical-align: baseline;
    /* line-height: 2rem; */
    font-variant: small-caps;
    font-weight: 700;
    text-align: center;
}

.card-desc {
    font-size: .9rem;
    font-weight: normal;
    padding-top: 5px;
    text-align: center;
}