@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow Condensed', sans-serif;
    color: hsl(230, 29%, 20%);
}

#container {
    width: calc(100% - 120px);
    margin: auto;
    margin-right: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    margin: 0 auto;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    background: hsl(207, 33%, 95%);
    border-radius: 0 0 0 50px;
    width: 50%;
    height: 50%;
    top: 0;
    right: 0;
    z-index: -1;
}

header nav {
    display: flex;
    justify-content: center;
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    width: 70%;
    margin-right: 50px;
}

nav ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.login {
    color: hsl(231, 7%, 65%);
}

nav ul li a {
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: hsl(230, 29%, 20%);
    margin: 0 5px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    width: 50%;
    max-width: 600px;
    margin: 0 20px 0 auto;
    padding-left: 20px;
}

header img {
    max-height: 32px;
    max-width: 32px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.bluetxt {
    background: hsl(230, 29%, 20%);
    padding: 2px 10px 2px 10px;
    border-radius: 15px;
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
}

.txt {
    color: hsl(231, 7%, 65%);
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 400;
    letter-spacing: 3px;
}

.flex-box1 {
    margin-top: 50px;
}

.boxy {
    width: 50%;
    /* border: 1px solid black; */
    overflow-x: hidden;
}

.image {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.flex-box1 h1 {
    text-transform: uppercase;
    font-size: 3.5em;
    width: 500px;
    margin: 0;
    margin-top: 10px;
}

.ntxt {
    width: 250px;
    color: hsl(230, 11%, 40%);
    font-size: 1em;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn {
    background: hsl(0, 100%, 68%);
    border: none;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    color: white;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.btn:hover {
    opacity: 0.7;
}

.bottom {
    display: flex;
    margin-top: 50px;
}

.ab {
    padding-top: 10px;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    color: hsl(231, 7%, 65%);
    padding-left: 30px;
}

@media only screen and (max-width: 1440px),
only screen and (max-device-width: 1440px) {
    .flex-container {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 800px),
only screen and (max-device-width:800px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    #container {
        width: calc(100% - 20px);
        margin: auto;
        margin-right: 0;
    }
    .boxy {
        width: 100%;
        flex: 1;
    }
    .flex-box2 {
        order: 1;
    }
    .flex-box1 {
        order: 2;
    }
}